{% extends "base.html" %}{% load i18n %}
{% block title %}{% translate "Choose your password" %}{% endblock %}
{% block content %}
<div class="auth-box">
  <h1>{% translate "Choose your password" %}</h1>
  {% if validlink %}
    <form method="post" class="card" novalidate>
      {% csrf_token %}
      {% include "_form_fields.html" %}
      <button type="submit" class="btn">{% translate "Save my password" %}</button>
    </form>
  {% else %}
    <p>{% translate "This link is invalid or has expired. You can request a new one." %}</p>
    <p><a class="btn" href="{% url 'accounts:password_reset' %}">{% translate "Request a new link" %}</a></p>
  {% endif %}
</div>
{% endblock %}
