{% extends "panel/_layout.html" %}{% load i18n %}
{% block title %}{% translate "Home page" %}{% endblock %}
{% block panel %}
<h1>{% translate "Home page text" %}</h1>
<p class="muted">{% translate "If one language is empty, visitors see the other one." %}</p>
<form method="post" novalidate>
  {% csrf_token %}
  <div class="form-row">
    <fieldset lang="fr"><legend>Français</legend>
      <div class="field">{{ form.description_fr.as_field_group }}</div>
      <div class="field">{{ form.mission_fr.as_field_group }}</div>
    </fieldset>
    <fieldset lang="en"><legend>English</legend>
      <div class="field">{{ form.description_en.as_field_group }}</div>
      <div class="field">{{ form.mission_en.as_field_group }}</div>
    </fieldset>
  </div>
  <button type="submit" class="btn">{% translate "Save" %}</button>
</form>
{% endblock %}
